.head{
    margin :auto;
}
.alt{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-left: 200px;
}
.fir:hover{
    color: rgb(0, 21, 255);
}
.head{
    color: rgb(51, 0, 255);
}
.head:hover{
    color: green;
}
.ap{
    colour: black;
}
.abu{
    color: red;
}
.abo:hover{
    color: blue;
}
.ctc:hover{
    color: rgb(255, 0, 13);
}
.ctc{
    margin-left: 500px;
}
.form{

    margin-left: 500px;
}